/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */
.sandbox img {
    transition: all 0.3s ease;
}
.sandbox img:hover {
    cursor: crosshair;
}
.grayscale:hover {
    filter: grayscale(1);
}