/* Global Styles */
:root {
  --sans-serif: 'Roboto';
  --serif: 'Baskervville';
  --main-color: hsl(200,100%, 35%);
}
*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: var(--sans-serif, sans-serif);
  background: hsl(200, 100%, 98%);
  color: var(--main-color);
}
h2 {
  font-family: 'Lobster', cursive;
}


.shadow-typo {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 6rem;
  color: #00b3b4;
  text-shadow: 3px 3px #e7eef1, 8px 8px rgba(0,0,0,0.1);
}

.threedee-typo {
  text-transform: uppercase;
  font-size: 6rem;
  color: #f2395a;
  transform: skew(-5deg,-5deg) rotate(5deg);
  transform-origin: center center;
}


/* Structure */
.container {
  min-height: 100vh;
  width: 66vw;
  margin: 0 auto;
  background: hsl(200,100%, 95%);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 3em;
  align-items: stretch;
  justify-content: center;
}
