/* Global Styles */
:root {
  --sans-serif: 'Roboto';
  --serif: 'Baskervville';
  --main-color: hsl(200,100%, 35%);
}
*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: var(--sans-serif, sans-serif);
  background: hsl(200, 100%, 98%);
  color: var(--main-color);
}
h2 {
  padding-bottom: 1rem;
}
/* Structure */
.container {
  min-height: 100vh;
  width: 80vw;
  margin: 0 auto;
  background: hsl(200,100%, 95%);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 3em;
  align-items: stretch;
}


/* Component Style */
.flex-item {
  /* border: 1px solid hsl(200,100%, 35%); */
  padding-top: 1em;
  padding-bottom: 3em;
}

button {
  font-weight: bold;
  text-transform: uppercase;
  font-family: var(--sans-serif, sans-serif);
}

.button-container {
  display:flex;
  align-items: center;
  width: 66%;
  margin: 0 auto;
  justify-content: space-evenly;
}
.fb-style-btn {
  border-radius: 2px;
  font-size: 0.9rem;
  padding: 6px 12px;
}

.fb-style-dark {
  box-shadow: inset 0 1px #4d73bf;
  background: #4267b2;
  border: 1px solid #4267b2;
  color: white;
  text-shadow: 0 1px #3559a5;
}
  .fb-style-dark:hover {
   background: #2b54a7; 
  }
  

  .fb-style-dark:active {
    background: #1d4698;
    border-color: #1d4698; 
   }
.fb-style-light {
  background: #f6f7f9;
  border: 1px solid #ced0d4;
  color: #4b4f56;
}
  .fb-style-light:hover {
    background: #e9ebee;
  }
  .fb-style-light:active {
    background: #d8dade;
    border-color: #d8dade;
  }

  /* 3D Style Buttons */
  .btn-3D-1 {
    position: relative;
    background: orangered;
    border: none;
    color: white;
    padding: 15px 24px;
    font-size: 1.4rem;
    box-shadow: -6px 6px hsl(16, 100%, 30%);
    outline: none;
  }
    .btn-3D-1:hover {
      background: hsl(16, 100%, 45%);
    }
    .btn-3D-1:active {
      background: hsl(16, 100%, 40%);
      top: 3px;
      left: -3px;
      box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
    }
    .btn-3D-1::before {
      position: absolute;
      display: block;
      content: "";
      height: 0;
      width: 0;
      border: 6px solid transparent;
      border-right-color: hsl(16, 100%, 30%);
      border-left-width: 0;
      background: none;
      top: 0;
      left: -6px;
    }
    .btn-3D-1::after {
      position: absolute;
      display: block;
      content: "";
      height: 0;
      width: 0;
      border: 6px solid transparent;
      border-top-color: hsl(16, 100%, 30%);
      border-bottom-width: 0;
      background: none;
      bottom: -6px;
      right: 0;
    }
    .btn-3D-1:active::before {
      border: 3px solid transparent;
      border-right: solid 3px hsl(16, 100%, 30%);
      border-left-width: 0;
      left: -3px;
      top: 0;
    }
    .btn-3D-1:active::after {
      border: 3px solid transparent;
      border-top: solid 3px hsl(16, 100%, 30%);
      border-bottom-width: 0;
      bottom: -3px;
      right: 0;
    }
  .btn-3D-2 {
    position: relative;
    background: #ecd300;
    background: radial-gradient( hsl(54, 100%, 50%), hsl(54, 100%, 40%));
    font-size: 1.4rem;
    text-shadow: 0 -1px #c3af07;
    color: white;
    border: 1px solid hsl(54, 100%, 20%);
    border-radius: 100%;
    height: 120px;
    width: 120px;
    z-index: 4;
    outline: none;
    box-shadow: inset 0 1px hsl(54, 100%, 50%),
                0 2px hsl(54, 100%, 20%),
                0 3px hsl(54, 100%, 18%),
                0 4px hsl(54, 100%, 16%),
                0 5px hsl(54, 100%, 14%),
                0 6px hsl(54, 100%, 12%),
                0 7px hsl(54, 100%, 10%),
                0 8px hsl(54, 100%, 8%),
                0 9px hsl(54, 100%, 6%);
  }
    .btn-3D-2:hover {
      background: radial-gradient(hsl(54,100%,45%),hsl(54,100%,35%));
    }
    .btn-3D-2:active {
      background: radial-gradient(hsl(54,100%,43%),hsl(54,100%,33%));
      top: 2px;
      box-shadow: inset 0 1px hsl(54, 100%, 50%),
                0 2px hsl(54, 100%, 20%),
                0 3px hsl(54, 100%, 18%),
                0 4px hsl(54, 100%, 16%),
                0 5px hsl(54, 100%, 14%),
                0 6px hsl(54, 100%, 12%),
                0 7px hsl(54, 100%, 10%);
    }
  /* Gradient Buttons */

  .gradient-btn-1 {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    background: #e7eef1;
    border: 10px solid transparent;
    border-image: linear-gradient(to top right,rgb(0, 238, 255),rgb(0, 162, 255));
    border-image-slice: 1;
    color: rgb(0, 238, 255);
    transition: all 0.3s;
  }
    .gradient-btn-1:hover {
      background-image: linear-gradient(to top right,rgb(0, 238, 255),rgb(0, 162, 255));
      color: white;
    }

  .gradient-btn-2 {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    background: #e7eef1;
    border: 10px solid transparent;
    border-image: linear-gradient(to right,rgb(0, 238, 255),transparent);
    border-image-slice: 1;
    color: rgb(0, 238, 255);
    transition: all 0.3s;
  }
  .gradient-btn-2:hover {
    background-image: linear-gradient(to right,rgb(0, 238, 255),transparent);
    color: white;
    border-right-style: none;
  }

  /* Animated Buttons */
  .animated-btn-1 {
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    background-color: #00b3b4;
    background-image: url('./pattern.png');
    background-size: 40px 40px; 
    border: 1px solid #555;
    color: white;
    transition: all ease 0.3s;
  }
    .animated-btn-1:hover {
      animation: loading-button-animation 2s linear infinite;
    }
    @keyframes loading-button-animation {
      from {
        background-position: 0 0;
      }
      to {
        background-position: 40px 0;
      }
    }
.animated-btn-2  {
  position: relative;
  display: inline-block;
  padding: 20px 40px;
  background-color: #00b3b4;
  background-size: 40px 40px; 
  border: 1px solid #555;
  color: white;
  transition: all ease 0.3s;
}
.animated-btn-2::after {
  position: absolute;
  top: 34%;
  right: 0.6em;
  content: "»";
  opacity: 0;
  transition: all ease 0.3s;
}
.animated-btn-2:hover {
  padding: 20px 60px 20px 20px;
}

.animated-btn-2:hover::after {
  right: 1.2em;
  opacity: 1;
}

/* Toggle Switch UI Buttons */

.toggle-1 {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 0 0;
}
  .toggle-1_input {
    display: none;
  }
  .toggle-1_button {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #f2395a;
    border: 1px solid #f2395a;
    color: white;
    width: 80px;
    height: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .toggle-1_button::before {
    position: absolute;
    top: 4px;
    left: 37px;
    content: "off";
    display: inline-block;
    height: 20px;
    padding: 0 3px;
    background: white;
    color: #f2395a;
    transition: all 0.3s ease;    
  }
  .toggle-1_input:checked + .toggle-1_button {
    background: #00b3b4;
    border: 1px solid #00b3b4;
  }
  .toggle-1_input:checked + .toggle-1_button::before {
    left: 5px;
    color: #00b3b4;
    content: "on";
  }